<footer class="footer mt-auto">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="fw-bolder font-monospace mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    articlus <i class="fa-solid fa-book"></i>
                </a>
                <span class="text-muted">&copy; 2022</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter fa-2xl"></i></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-dev fa-2xl"></i></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
            </ul>
        </footer>
    </div>
</footer>