{% extends 'layout.html' %} {% block title%} About Us {% endblock%} {% block body %}
<h1>
    About us
</h1>
<div class="bg-secondary bg-gradient shadow-lg rounded-start border-end-0">
    <p class="fs-3 fw-bold text-white">Rather than just filling this with a Lorem Ipsum placeholder text. I'll just put it out here that this is my first deployed project and it took me a while to finish it up. I had to learn MySQL from scratch and it was really adventurous. Big Ups to
        Traversy Media and the countless people that answer questions on Stack Overflow. I'll be looking to add more features to the app and tweaks as I keep learning new stuff. Coding is really fun, I must say. Cheers! </p>
</div>

{% endblock %}