{% extends 'layout.html' %} {% block title%} Article {% endblock%} {% block body %}
<style>
    .text-underline-hover {
        text-decoration: none;
    }
    
    .text-underline-hover:hover {
        text-decoration: underline;
    }
</style>
<!-- <div class="mt-4 p-5 bg-secondary bg-gradient shadow text-white rounded"> -->
<h1 class="text-dark pb-3">Articles</h1>
<ul class="list-group list-group-flush bg-secondary bg-gradient shadow-lg rounded-start border-end-0">
    {% for article in allArticles %}
    <li class="list-group-item bg-transparent mt-2 mb-2">
        <a class="text-decoration-none text-underline-hover" href="articles/{{article.id}}">
            <h3 class="text-white-50">Article {{article.id}}</h3>
        </a>
        <small class="text-light">By <a class="text-white-50 text-decoration-underline" href="{{url_for('dashboard')}}">{{article.author}}</a></small>
    </li>
    {% endfor %}
</ul>
<!-- </div> -->

{% endblock %}