{% extends 'layout.html' %} {% block title%} Home {% endblock%} {% block body %}
<div class="mt-4 p-5 bg-secondary text-white rounded text-center">
    <h1>Create and edit your thoughts with articlus!</h1>
    <p class="mt-4 lh-lg">Welcome to <a class="text-decoration-none link-light" href="/"><span class="fw-bolder font-monospace text-white-50">articlus.</span></a> Sign up today and express yourself in absolute privacy. Lorem Ipsum you think some, you write some and dolor sit
        amet. Built with Flask and Jinja 2.0
    </p>
    {% if not current_user.is_authenticated %}
    <div class="pb-2">
        <a href="{{url_for('register')}}" class="btn btn-primary btn-lg mx-1 mt-5">Register</a>
        <a href="{{url_for('login')}}" class="btn btn-success btn-lg mx-1 mt-5">Hop in</a> {% endif %}
        <form action="" method="post">
            <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">
            <button type="submit" formaction="/auth" class="btn btn-danger btn-lg mt-5 mx-1"><i class="fa-brands fa-google"></i> Sign in with Google</button>
        </form>
    </div>

</div>
{% endblock %}