{% extends 'layout.html' %} {% block title%} Sign In {% endblock%} {% block body %}
<div class="container">

    <h1>Log In</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="" method="post">
            <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">

            <div class="mb-3">
                <label for="username">Email</label>
                <input type="email" name="email" class="form-control" value="{{request.form.email}}" autofocus>
            </div>

            <div class="mb-3">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" value="{{request.form.password}}">
            </div>

            <div class="mb-3">
                <input type="submit" formaction="/login" value="Let Me In!" class="btn btn-primary mt-2">
                <button type="submit" formaction="/auth" class="btn btn-outline-success mt-2"><i class="fa-brands fa-google"></i> Sign in with Google</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}